<div class="container mb-4 py-4">
	<div class="row mb-4 py-3">
		<div class="col-12 col-sm-5 col-md-5">
			<div class="">
				<h1 class="display-1">Sweety </h1>
				<p class="text-secondary"><em>Simple solution to track your blood glucose readings</em></p>
				<%= link_to "<button type='button' class='btn btn-success btn-lg rounded-pill'>Get Started</button>".html_safe, new_user_registration_path %>
			</div>
		</div>
		<div class="col-12 col-sm-7 col-md-7">
			<%= image_tag 'medicine.svg', alt: 'Get More Quantity', class: 'figure-img img-fluid', style: "max-height: 100%" %>
		</div>
	</div>
</div>